In [ ]:
#1.Unique Words in a Sentence
sentence=input()
sentence=sentence.split()
unique=set(sentence)
print("Unique words count:",len(unique))
print("Unique words:",unique)

python is easy and python is powerful
Unique words count: 5
Unique words: {'easy', 'python', 'and', 'powerful', 'is'}

In [ ]:
#2.Highest Salary from Employee Data
employees={}
no_of_employees=int(input("Enter the number of employees:"))
for i in range(no_of_employees):
    name=input(f"Enter the name of employee {i+1}:")
    salary=int(input(f"Enter the salary of {name}:"))
    employees[name]=salary
print(f"Highest Salary: {name} - {salary}")

Enter the number of employees:1
Enter the name of employee 1:sanjay
Enter the salary of sanjay:10000
Highest Salary: sanjay - 10000

In [ ]:
#3.Find Maximum and Minimum Values
numbers=list(map(int,input().split()))
min_value=numbers[0]
max_value=numbers[0]
for i in numbers:
    if i<min_value:
        min_value=i
    if i>max_value:
        max_value=i
print("List:",numbers)
print("Min:",min_value)
print("Max:",max_value)

1 2 3 4 5
List: [1, 2, 3, 4, 5]
Min: 1
Max: 5

In [ ]:
#4.Count Products Above a Price Threshold
prices=list(map(int,input().split()))
c=0
for i in prices:
  if i>1000:
    c+=1
print("Products above 1000:",c)

1000 2000 3000
Products above 1000: 2

In [ ]:
#5.Calculate Attendance Percentage
attendance=list(map(str,input().split()))
c=0
for i in attendance:
  if i=="P":
    c+=1
print("Attendance Percentage:",(c/len(attendance))*100)

P A P A P
Attendance Percentage: 60.0

In [ ]:
#6.Remove Duplicate Phone Numbers
phone_numbers=list(map(int,input().split()))
print("Unique phone numbers:",set(phone_numbers))

1 2
Unique phone numbers: {1, 2}

In [ ]:
#7.Count Character Frequency
string=input()
freq={}
for i in string:
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1
print(freq)

hello
{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
#8.Convert List to Tuple
lst=list(map(int,input().split()))
print(tuple(lst))

 1 2 3
(1, 2, 3)

In [ ]:
#9.Check if a Key Exists in a Dictionary
employees={}
no_of_employees=int(input("Enter the number of employees:"))
for i in range(no_of_employees):
    name=input(f"Enter the name of employee {i+1}:")
    salary=int(input(f"Enter the salary of {name}:"))
    employees[name]=salary
key=input("Enter the key to check:")
for i in employees.keys():
  if i==key:
    print("Key exists")
    break

Enter the number of employees:1
Enter the name of employee 1:sanjay
Enter the salary of sanjay:10000
Enter the key to check:sanjay
Key exists

In [ ]:
#10.Calculate Average Marks
marks=list(map(int,input().split()))
print("Average marks:",sum(marks)/len(marks))

1 2 3 4 5
Average marks: 3.0